/**
 *
 * Hero Story Block 001
 *
 */

#hero-story-block-mfw-001 {
	width: 100vw;
 	height: 100vh;

 	@media (max-width: 500px) {
 		width: 100%;
 		height: auto;
 	}

	.block-content {
		background-color: lighten($cg-secondary, 50%);

		.block-title {
			font-size: 4rem;
		}
		.block-subtitle {
			font-size: 3rem;
		}
	}	 	
}