/*=============================
=            GLOBALS            =
=============================*/

@import "global";

/*=====  End of GLOBALS  ======*/

/*=======================================
=            HEADER & FOOTER            =
=======================================*/

/*=====  End of HEADER & FOOTER  ======*/

/** THE BODY ===========================  */
// ul,
// menu,
// dir {
//   display: block;
//   list-style-type: disc;
//   -webkit-margin-before: 1em;
//   -webkit-margin-after: 1em;
//   -webkit-margin-start: 0px;
//   -webkit-margin-end: 0px;
//   -webkit-padding-start: 0px !important;
// }
.search-bar {
  box-shadow: 1px 1px 30px gray !important;
}
.embed-responsive {
  box-shadow: 4px 4px 12px gray !important;
}
.list-group-item {
  background-color: lighten($color: gray, $amount: 15%);
  box-shadow: 3px 3px 8px gray;
  margin-bottom: 0.5rem !important;
}
.media {
  .media-body {
    h5 {
      font-size: 1rem;
      color: white;
    }
  }
}
.video-detail {
  .details {
    padding: 3rem;
    box-shadow: 3px 3px 8px gray;
  }
}
